@use "../../sass/utils/variables";
@use "../../sass/utils/mixins";

header{
    @include mixins.largeScreen;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-image: url(../../assets/img/header_bg.png);
    background-repeat: no-repeat;
    background-size: 1280px 80px;
    border-radius: 10px;

    @media screen and (max-width: variables.$breakpoint-tablette) {
        background-size: cover
    }

    @media screen and (max-width: variables.$breakpoint-mobile) {
        justify-content: left;
        padding: 0 5px;
    }
    
    .logo{  
        transform: rotate(60deg);
        z-index: 3;
        animation: jug 1.5s ease-in-out forwards;
    
        &:hover{
            transform: rotate(360deg);
            transition: 500ms;
        }
        
        & img{
            border-radius: 50%;
            width: 70px;
            height: 70px;
            margin-left: 0px;


            @media screen and (max-width: variables.$breakpoint-tablette) {
                width: 60px;
                height: 60px;
            }

            @media screen and (max-width: variables.$breakpoint-mobile) {
                width: 40px;
                height: 40px;
            }
        }    
    }

    .list{
        display: flex;
        flex: 1.3;
        justify-content: right;
        font-size: 20px;
        background-color: transparent;
        z-index: 2;
        
        @media screen and (max-width: variables.$breakpoint-tablette) {
            justify-content: left;
            margin-left: 7px;
            flex: 0.9;
        }

        @media screen and (max-width: variables.$breakpoint-mobile) {
            margin-left: 7px;
        }
        
        &__item{
            background-color: transparent;
            margin-left: 5px;

            & a{
                margin-left: 5px;
            }
            
            @media screen and (max-width: variables.$breakpoint-tablette) {
                font-size: 18px
            }

            @media screen and (max-width: variables.$breakpoint-mobile) {
                font-size: 16px
            }
            
            a:hover{
                padding-bottom: 4px;
                border-bottom: 2px solid violet;
            }
        }
    }

    #autotext{
        display: flex;
        flex: 0.7;
        justify-content: right;
        border-right: 0.15em solid variables.$secondary-color;
        letter-spacing: 0.10em;
        animation: blink 0.75s step-end infinite;
        font-size: 17px;
        background-color: transparent;

        @media screen and (max-width: variables.$breakpoint-tablette) {
            font-size: 14px;
        }

        @media screen and (max-width: variables.$breakpoint-mobile) {
            display: none;
        }
    
        &::after{
            content: '';
            background-color: transparent;
            animation: change-text 10s forwards;
        }
    }

    .switch{
        display: flex;
        flex: 0.15;
        justify-content: right;

        @media screen and (max-width: variables.$breakpoint-mobile) {
            margin-right: 0px;
        }

    }
}

@keyframes change-text {
    from   { content: 'D'; }
    1%  { content: 'Dé'; }
    2%  { content: 'Dév'; }
    3%  { content: 'Déve'; }
    4% { content: 'Dével'; }
    5% { content: 'Dévelop'; }
    6% { content: 'Développ'; }
    7% { content: 'Développe'; }
    8% { content: 'Développeu'; }
    9% { content: 'Développeus'; }
    10% { content: 'Développeuse'; }
    11% { content: 'Développeuse '; }
    12% { content: 'Développeuse W'; }
    13% { content: 'Développeuse We'; }
    14% { content: 'Développeuse Web'; }
    15% { content: 'Développeuse Web '; }
    16% { content: 'Développeuse Web F'; }
    17% { content: 'Développeuse Web Fr'; }
    18% { content: 'Développeuse Web Fro'; }
    19% { content: 'Développeuse Web Fron'; }
    20% { content: 'Développeuse Web Front'; }
    21% { content: 'Développeuse Web Front-e'; }
    22% { content: 'Développeuse Web Front-en'; }
    23% { content: 'Développeuse Web Front-end'; } 
    100%   { content: 'Développeuse Web Front-end'; }
}

@keyframes blink{
    from,
    to{
       border-color: transparent; 
    }
    50% {
        border-color: variables.$secondary-color;
    }
}

@keyframes jug{
    0%{
        transform: rotate(0);
    }
    80%{
        transform: rotate(60deg);
    }
    100%{
        transform: rotate(30deg);
    }
}