// @use "../../sass/utils/variables";
@use "../../sass/utils/mixins";

header{
    @include mixins.largeScreen;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid blue;
    color: white;
    
    
    .logo{  
        img{
            border: 4px solid violet;
            border-radius: 50%;
            width: 80px;
            height: 80px;
        }    
    }
    
    .list{
        display: flex;
        font-size: 20px;
        
        &__item{
            margin-left: 20px;
            
            a:hover{
                padding-bottom: 4px;
                border-bottom: 2px solid violet;
            }
        }
    }

    #autotext{

        border-right: 0.15em solid violet;
        letter-spacing: 0.10em;
        animation: blink 0.75s step-end infinite;
    
    
        &::after{
        content: '';
        animation: change-text 10s forwards;
        }

    }
    
}

@keyframes change-text {
    from   { content: 'D'; }
    1%  { content: 'Dé'; }
    2%  { content: 'Dév'; }
    3%  { content: 'Déve'; }
    4% { content: 'Dével'; }
    5% { content: 'Dévelop'; }
    6% { content: 'Développ'; }
    7% { content: 'Développe'; }
    8% { content: 'Développeu'; }
    9% { content: 'Développeus'; }
    10% { content: 'Développeuse'; }
    11% { content: 'Développeuse '; }
    12% { content: 'Développeuse W'; }
    13% { content: 'Développeuse We'; }
    14% { content: 'Développeuse Web'; }
    15% { content: 'Développeuse Web '; }
    16% { content: 'Développeuse Web F'; }
    17% { content: 'Développeuse Web Fr'; }
    18% { content: 'Développeuse Web Fro'; }
    19% { content: 'Développeuse Web Fron'; }
    20% { content: 'Développeuse Web Front'; }
    21% { content: 'Développeuse Web Front-e'; }
    22% { content: 'Développeuse Web Front-en'; }
    23% { content: 'Développeuse Web Front-end'; } 
    100%   { content: 'Développeuse Web Front-end'; }
}

@keyframes blink{
    from,
    to{
       border-color: transparent; 
    }
    50% {
        border-color: violet;
    }
}