@use '../../sass/utils/variables';
@use '../../sass/utils/mixins';

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    font-size: 100%;
}

main{
    @include mixins.largeScreen;

    @media screen and (max-width: variables.$breakpoint-tablette) {
        @include mixins.mediumScreen;
    }

    @media screen and (max-width: variables.$breakpoint-mobile) {
        @include mixins.smallScreen;
    }
}
