.light{
    background-color: #fff;
}

.dark{
    background-color: black;
}

@media(prefers-color-scheme: ligth){
    body {
        background-color: #fff;
    }
}

@media(prefers-color-scheme: dark){
    body {
        background-color: black;
    }
}