@use "./src/sass/utils/variables";
@use "./src/sass/utils/mixins";

// #root{
//     @media screen and (max-width: variables.$breakpoint-mobile) {
//        position: relative;
//     }
// }

.light {
    background-color: #fff;
    font-weight: 500;

    & a{
        color: variables.$dark-contrast-color;

        @media screen and (max-width: variables.$breakpoint-tablette) {
            color: variables.$light-contrast-color;
            font-weight: 600;
        }
        @media screen and (max-width: variables.$breakpoint-mobile) {
            color: variables.$light-contrast-color;
        }
    }

    & i{
        color: variables.$light-contrast-color;
    }

}

.dark {
    background-color: variables.$light-contrast-color;
    position: relative;
}

@media(prefers-color-scheme: light){
    body {
        background-color: variables.$dark-contrast-color;
    }
}

@media(prefers-color-scheme: dark){
    body {
        background-color: variables.$light-contrast-color;
    }
}