@use "./src/sass/utils/variables";
@use "./src/sass/utils/mixins";

.light {
    background-color: variables.$background-desktop--global--light;
    font-weight: 500;
}

.dark {
    background-color: variables.$background-desktop--global--dark;
    position: relative;
}

@media(prefers-color-scheme: light){
    body {
        background-color: variables.$background-desktop--global--light;
    }
}

@media(prefers-color-scheme: dark){
    body {
        background-color: variables.$background-desktop--global--dark;
    }
}