$primary-color: white;
$secondary-color: #13589f;
$tertiary-color: violet;
$fourth-color: #F6F6F6;
$footer-color: #000000;

// $loading-color1: #9356DC;
// $loading-color2: #FF79DA;

$text-font: 'Saira Semi Condensed';

$small-radius: 5px;
$medium-radius: 10px;
$big-radius: 25px;

// $linear-card: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

$breakpoint-tablette: 992px;
$breakpoint-mobile: 768px;

$maxWidth : 1280px;
$minWidth : 768px;