$primary-color: white;
$secondary-color: #13589f;
$tertiary-color: violet;
$fourth-color: #F6F6F6;
$footer-color: #000000;

$text-font: 'Saira Semi Condensed';

$small-radius: 5px;
$medium-radius: 10px;
$big-radius: 25px;



$breakpoint-tablette: 992px;
$breakpoint-mobile: 768px;

$maxWidth : 1350px;
$mediumWidth : 992px;
$minWidth : 768px;