@use "../../sass/utils/variables";

.container{
    color: variables.$light-color;
    display: flex;

    .form__contact{
        flex: 4;

        .test{
            display: grid;
            grid-gap : 10px;
            grid-template-columns: repeat(2, minmax(200px, 1fr));
            grid-template-rows: repeat(4, 1fr);

            .label{
                background: url('../../assets/img/bg_dark_title.webp') no-repeat;
                padding: 20px 0px 0px 0px;
                display: block;
                width: 100%;
                border-radius: variables.$radius--10;
                border: 1px solid variables.$light-color;
    
                .input{
                    color: variables.$dark-color;
                    border: 1px solid variables.$light-color;
                    height: 50px;
                    width: 100%;
                    background-color: variables.$light-color;
                }
            }

            .objet, .message{
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

    }
    
}