@use "../../sass/utils/variables";
@use "../../sass/utils/mixins";

footer{
    @include mixins.largeScreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid grey;
    border-radius: 30px;
    // background-image: url("../../assets/img/bklight.png");
    // background-size: 1280px 200px;
    // background-repeat: no-repeat;
    position: relative;
    height: 100px;
    z-index: 11;
   
    @media screen and (max-width: variables.$breakpoint-tablette) {
        background-size: variables.$breakpoint-tablette 200px;
        @include mixins.mediumScreen;
        padding: 10px 10px;
        height: 100px;
    }

    @media screen and (max-width: variables.$breakpoint-mobile) {
        background-size: variables.$breakpoint-tablette 200px;
        @include mixins.smallScreen;
        height: 80px;
        border-radius: 20px;
    }
            
    .infos{
        background-color: transparent;
   
        @media screen and (max-width: variables.$breakpoint-tablette) {
            background-size: variables.$breakpoint-tablette 200px;
            @include mixins.mediumScreen;
            font-size: 15px;
        }
    
        @media screen and (max-width: variables.$breakpoint-mobile) {
            background-size: variables.$breakpoint-tablette 200px;
            @include mixins.smallScreen;
            height: 80px;
            border-radius: 20px;
            font-size: 13px;
            padding: 10px 0px;
        }
           
        &__item{
            background-color: transparent;
            margin-bottom: 5px;
        }
    }

    .reseaux{
        display: flex;
        align-items: center;
        justify-content: right;
        font-size: 50px;
        background-color: transparent;
    
        &__item{
            margin-right: 10px;

            & a{
                & i{
                    background-image: none;
                }
            }
        }
    }
}