// @use "../../sass/utils/variables";
@use "../../sass/utils/mixins";

footer{
    @include mixins.largeScreen;
    display: flex;
    // justify-content: space-between;
    // align-items: center;
    border: 1px solid red;
    color: white;

    .container{
        display: flex;
        justify-content: space-between;
        flex-basis: 100%;

        .infos{
            &__item{
                margin-bottom: 10px;
            }
        }

        .reseaux{
            display: flex;
            font-size: 50px;
            color: violet;

            &__item{
                margin-right: 10px;
            }

        }
    }
}