@use "../../sass/utils/variables";

.projects{
    display: flex;

    &__content{
        flex: 4;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: variables.$big-radius;
        position: relative;
    }

    .background__title{
        width: 100%;
        height: 47.6px;
        position: absolute;
        top: 370px;
        z-index: -9999;

        @media screen and (max-width: variables.$breakpoint-tablette) {
            top: 335px;
        }
    
        @media screen and (max-width: variables.$breakpoint-mobile) {
            top: 260px;
        }
    }

    .boxinfos{
        margin-top: 50px;
        width: 100%;
        color: variables.$primary-color;
        padding: 0px;
    
        #container{
            color: variables.$primary-color;;
        }
           
        .container{
    
            &__title{
                padding: 10px;
                margin-bottom: 10px;
            }
    
            &__description{
                padding: 10px;   
                
                @media screen and (max-width: variables.$breakpoint-tablette) {
                    
                }
            
                @media screen and (max-width: variables.$breakpoint-mobile) {
                    font-size: 14px;
                }
            }
    
            &__technologies{
                display: flex;
                padding: 10px;
    
                .technologies{
                    display: flex;
                    align-items: center;
                    border-radius: variables.$small-radius;
                    flex-basis: 100%;
     
                
                    &__name{
                        padding: 10px;
                    }
            
                    &__icones{
                        & img{
                            width: 50px;
                            height: 50px;
    
                            @media screen and (max-width: variables.$breakpoint-mobile) {
                                width: 30px;
                                height: 30px;
                            }
                        }   
                    }
                }
            }
    
            &__sources{
                display: flex;
                justify-content: space-around;
                padding: 5px;
    
                button{
                    border : 1px solid variables.$primary-color;
                    border-radius: variables.$medium-radius;
                    padding: 5px;    
                }
            }   
        }
    }

    &--dark{
        .background__title{
            background: url('../../assets/img/bg_dark_title.webp');
        }

        .container{

            &__technologies{
     
                color: variables.$dark-contrast-color;
            }

            &__description{
                color: variables.$dark-contrast-color;          
            }

        
            &__sources{
    
                button{
                    background-color: variables.$primary-color;

                    & a{
                        color: variables.$dark-contrast-color;
                    }
                }
            }
        }

    }

    &--light{
        .background__title{
            background: url('../../assets/img/bg_light_header.webp');
            background-size: cover;
        }

        .container{
            &__sources{
    
                button{
               
                    & a{
                        color: variables.$primary-color;
                    }
                }
            }
        }
    }
}


.animOpacity{
    animation: opacitytitle 1.5s ease-in-out;
}

@keyframes opacitytitle{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}