@use "../../sass/utils/variables";
// @use "../../sass/utils/mixins";

.banner{
    position: relative;
    width: 100px;
    height: 550px;
    z-index: -5555;

    @media screen and (max-width: variables.$breakpoint-tablette) {
        width: 80px;
        height: 545px;
    }

    @media screen and (max-width: variables.$breakpoint-mobile) {
        width: 60px;
        height: 400px;
    }

    &__bg{
        position: absolute;
        top:0;
        left:0px;
        opacity: 0;
        animation: rain 1.5s 600ms ease-in forwards;
        
        & img{
            object-fit: cover;
            width: 100px;
            height: 550px;

            @media screen and (max-width: variables.$breakpoint-tablette) {
                width: 80px;
                height: 545px;
            }
        
            @media screen and (max-width: variables.$breakpoint-mobile) {
                width: 60px;
                height: 400px;
            }
        
        }
    }
}

@keyframes rain{
    0%{
        opacity: 0;
        transform: translateY(-250px);
        z-index: 1;

        @media screen and (max-width: variables.$breakpoint-tablette) {
            transform: translateY(-200px);
        }

        @media screen and (max-width: variables.$breakpoint-mobile) {
            transform: translateY(-100px);
        }
        
    }
    100%{
        z-index: 1;
        opacity: 1;
        transform: translateY(0px);
    }
}