@use "../../sass/utils/variables";
// @use "../../sass/utils/mixins";

.banner{
    width: 200px;
    height: 600px;
    position: relative;

    &__bg{
        position: absolute;
        top:0;
        left:-20px;
        animation: wind 700ms ease-in-out forwards;
  

        @media screen and (max-width: variables.$breakpoint-tablette) {
            width: 150px;
            left:-20px;
        }

        @media screen and (max-width: variables.$breakpoint-mobile) {
            width: 100px;
            left:-20px;
        }
        
        & img{
            width: 100px;
            height: 550px;
        }
    }
}

@keyframes wind{
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0px);
    }
}