@use "../../sass/utils/variables";
// @use "../../sass/utils/mixins";

.banner{
    width: 200px;
    height: 600px;
    position: relative;

    &__bg{
        position: absolute;
        top:0;
        left:0px;
        opacity: 0;
        animation: rain 1.5s 600ms ease-in forwards;
  

        @media screen and (max-width: variables.$breakpoint-tablette) {
            width: 130px;
            // left:-20px;
        }

        @media screen and (max-width: variables.$breakpoint-mobile) {
            width: 80px;
            // left:-20px;
        }
        
        & img{
            width: 100px;
            height: 550px;
        }
    }
}

@keyframes rain{
    0%{
        opacity: 0;
        transform: translateY(-250px);
        z-index: 1;
    }
    100%{
        z-index: 1;
        opacity: 1;
        transform: translateY(0px);
    }
}