@use "../../sass/utils/variables";

.slider{
    margin-top: 30px;
    width: variables.$width_img_cover_slider_desktop;
    height: variables.$height_img_cover_slider_desktop;
    position: relative;
    margin-bottom: 55px;
    z-index: 1;

    
    @media screen and (max-width: variables.$breakpoint-tablette) {
        margin-top: 45px;
        width: variables.$width_img_cover_slider_tablette;
        height: variables.$height_img_cover_slider_tablette;
        margin-bottom: 10px;
    }

    @media screen and (max-width: variables.$breakpoint-mobile) {
        width: variables.$width_img_cover_slider_mobile;
        height: variables.$height_img_cover_slider_mobile;
        margin-bottom: 25px;
    }

    &__chevron{
        cursor: pointer;

        & i{ 
            border-radius: variables.$radius--circle; 
            padding: 6px;
            font-size: variables.$slider__chevron-icone-fontSize-desktop--slider;

            @media screen and (max-width: variables.$breakpoint-tablette) {
                font-size: variables.$slider__chevron-icone-fontSize-tablette--slider;
            }

            @media screen and (max-width: variables.$breakpoint-mobile) {
                font-size: variables.$slider__chevron-icone-fontSize-mobile--slider;
            }
        }
      
        &__prev{
            z-index: 4;
            position: absolute;
            left: -85px;
            top: 50%;
            transform: translateY(-50%);

            @media screen and (max-width: variables.$breakpoint-tablette) {
                left: -70px;
            }

            @media screen and (max-width: variables.$breakpoint-mobile) {
                left: -60px;
            }

            &:hover{
                transform: translateY(-50%) scale(1.1);
            }  
        }
        
        &__next{
            z-index: 4;
            position: absolute;
            right: -85px;
            top: 50%;
            transform: translateY(-50%);
 
            @media screen and (max-width: variables.$breakpoint-tablette) {
                right: -70px;
            }
      
            @media screen and (max-width: variables.$breakpoint-mobile) {
                right: -60px;
            }

            &:hover{
                transform: translateY(-50%) scale(1.1);
            }

            &:active{
                color: black;
            }
        }

        .scroll{
            display: none;
            @media screen and (max-width: variables.$breakpoint-tablette) {
                display: none;
            }

            @media screen and (max-width: variables.$breakpoint-mobile) {
                position: absolute;
                display: block;
                top: 335.7px;
                left: 75px;
                z-index: 1;
                // font-size: 22px;
            }
        }
    }
    
    &__images{
        display: flex;
        justify-content: center;
        width:  variables.$width_img_cover_slider_desktop * 3;
        height: variables.$height_img_cover_slider_desktop;
        transform: translateX(- variables.$width_img_cover_slider_desktop);
 
        @media screen and (max-width: variables.$breakpoint-tablette) {
            width: variables.$width_img_cover_slider_tablette * 3;
            height: variables.$height_img_cover_slider_tablette;
            transform: translateX(- variables.$width_img_cover_slider_tablette);
        }

        @media screen and (max-width: variables.$breakpoint-mobile) {
            width: variables.$width_img_cover_slider_mobile * 3;
            height: variables.$height_img_cover_slider_mobile;
            transform: translateX(- variables.$width_img_cover_slider_mobile);
        }

        &__item{
            margin: 0;
            width: variables.$width_img_cover_slider_desktop;
            height: 100%;

            @media screen and (max-width: variables.$breakpoint-tablette) {
                width: variables.$width_img_cover_slider_tablette;
            }

            @media screen and (max-width: variables.$breakpoint-mobile) {
                width: variables.$width_img_cover_slider_mobile;

            }
            
            &__img{
                width: 100%;
                height: 100%;
        
                @media screen and (max-width: variables.$breakpoint-mobile) {
                    object-fit: cover;
                }
            }
        }
    }

    &--dark{
        .slider{
            &__chevron{
                & i{
                    color: variables.$slider__chevron-color-desktop--slider--dark;
                    border: 1px solid variables.$slider__chevron-border-desktop--slider--dark;
                    background-color: variables.$slider__chevron-background-desktop--slider--dark;
                    box-shadow: 0px 10px 10px inset variables.$slider__chevron-boxShadow-desktop--slider--dark;

                    &:active{
                        color: black;
                    }
                }
            }
        }
    }
    
    &--light{
        .slider__chevron{
            & i{
                color: variables.$slider__chevron-color-desktop--slider--light;
                border: 1px solid variables.$slider__chevron-border-desktop--slider--light;
                background-color: variables.$slider__chevron-background-desktop--slider--light;
                box-shadow: 0px 10px 10px inset variables.$slider__chevron-boxShadow-desktop--slider--light;

                &:active{
                    color: black;
                }
            }
        }
    }
    
}

.overflow{
    overflow: hidden; 

    @media screen and (max-width: variables.$breakpoint-tablette) {
        width: variables.$width_img_cover_slider_tablette;
        height: variables.$height_img_cover_slider_tablette;
    }
    @media screen and (max-width: variables.$breakpoint-mobile) {
        width: variables.$width_img_cover_slider_mobile;
        height: variables.$height_img_cover_slider_mobile;
    }

    & a{
        @media screen and (max-width: variables.$breakpoint-mobile) {
            overflow: hidden; 
            cursor: pointer;
            z-index: 4;
            position: absolute;
            width: variables.$width_img_cover_slider_mobile;
        }
    }
}

.device{
    position: absolute;
    width: 484px;
    height: 360px;
    top: -14px;
    left: -17px;


    @media screen and (max-width: variables.$breakpoint-tablette) {
        width: 428px;
        height: 265px;
        top: -13px;
        left: -15px;
    }

    @media screen and (max-width: variables.$breakpoint-mobile) {
        width: 209px;
        height: 430px;
        top: -50px;
        left: -12px;
    }

    & img{
        width: 100%;
        height: 100%;
    }
}

.translateprev{       
  transform: translateX(0px);
  transition: all 0.5s ease-in-out;
}
.translatenext{       
    transform: translateX(- variables.$width_img_cover_slider_desktop * 2);
    transition: all 0.5s ease-in-out;

    @media screen and (max-width: variables.$breakpoint-tablette) {
        transform: translateX(- variables.$width_img_cover_slider_tablette * 2);
    }

    @media screen and (max-width: variables.$breakpoint-mobile) {
        transform: translateX(- variables.$width_img_cover_slider_mobile * 2);
    }
}
  