@use "../../sass/utils/variables";

.slider{
    margin-top: 30px;
    width: variables.$width_img_cover_slider_desktop;
    height: variables.$height_img_cover_slider_desktop;
    position: relative;
    margin-bottom: 55px;
    z-index: 1;
    
    @media screen and (max-width: variables.$breakpoint-tablette) {
        margin-top: 45px;
        width: variables.$width_img_cover_slider_tablette;
        height: variables.$height_img_cover_slider_tablette;
        margin-bottom: 40px;
    }

    @media screen and (max-width: variables.$breakpoint-mobile) {
        width: variables.$width_img_cover_slider_mobile;
        height: variables.$height_img_cover_slider_mobile;
        margin-bottom: 25px;
    }

    &__chevron{
        cursor: pointer;
        & img{ 
            width: 50px;
            height: 40px;

            @media screen and (max-width: variables.$breakpoint-tablette) {
                width: 35px;
                height: 35px;
            }

            @media screen and (max-width: variables.$breakpoint-mobile) {
                width: 30px;
                height: 30px;
            }
        }
      
        &__prev{
            z-index: 4;
            position: absolute;
            left: -100px;
            top: 50%;
            transform: translateY(-50%);

            @media screen and (max-width: variables.$breakpoint-mobile) {
                left: -60px;
            }

            &:hover{
                transform: translateY(-50%) scale(1.1);
            }   
        }
        
        &__next{
            z-index: 4;
            position: absolute;
            right: -100px;
            top: 50%;
            transform: translateY(-50%);
 
      
            @media screen and (max-width: variables.$breakpoint-mobile) {
                right: -60px;
            }

            &:hover{
                transform: translateY(-50%) scale(1.1);
            }
        }
    }
    
    &__images{
        display: flex;
        justify-content: center;
        width:  variables.$width_img_cover_slider_desktop * 3;
        height: variables.$height_img_cover_slider_desktop;
        transform: translateX(- variables.$width_img_cover_slider_desktop);

        @media screen and (max-width: variables.$breakpoint-tablette) {
            width: variables.$width_img_cover_slider_tablette * 3;
            height: variables.$height_img_cover_slider_tablette;
            transform: translateX(- variables.$width_img_cover_slider_tablette);
        }

        @media screen and (max-width: variables.$breakpoint-mobile) {
            width: variables.$width_img_cover_slider_mobile * 3;
            height: variables.$height_img_cover_slider_mobile;
            transform: translateX(- variables.$width_img_cover_slider_mobile);
        }

        &__item{
            margin: 0;
            width: variables.$width_img_cover_slider_desktop;
            height: 100%;

            @media screen and (max-width: variables.$breakpoint-tablette) {
                width: variables.$width_img_cover_slider_tablette;
            }

            @media screen and (max-width: variables.$breakpoint-mobile) {
                width: variables.$width_img_cover_slider_mobile;

            }
            
            &__img{
                width: 100%;
                height: 100%;
        
                @media screen and (max-width: variables.$breakpoint-mobile) {
                    object-fit: cover;
    
                }
            
            }
        }
    }
}

.overflow{
    overflow: hidden; 
  
    @media screen and (max-width: variables.$breakpoint-tablette) {
        width: variables.$width_img_cover_slider_tablette;
        height: variables.$height_img_cover_slider_tablette;
    }
    @media screen and (max-width: variables.$breakpoint-mobile) {
        width: variables.$width_img_cover_slider_mobile;
        height: variables.$height_img_cover_slider_mobile;
    }

}

.device{
    position: absolute;
    width: 484px;
    height: 370px;
    top: -15px;
    left: -18px;

    @media screen and (max-width: variables.$breakpoint-tablette) {
        width: 425px;
        height: 270px;
        top: -14px;
        left: -10px;
    }

    @media screen and (max-width: variables.$breakpoint-mobile) {
        width: 266px;
        height: 430px;
        top:-30px;
        left: -15px;
    }

    & img{
        width: 100%;
        height: 100%;
    }
}

.translateprev{       
  transform: translateX(0px);
  transition: all 0.5s ease-in-out;
}
.translatenext{       
    transform: translateX(- variables.$width_img_cover_slider_desktop * 2);
    transition: all 0.5s ease-in-out;

    @media screen and (max-width: variables.$breakpoint-tablette) {
        transform: translateX(- variables.$width_img_cover_slider_tablette * 2);
    }

    @media screen and (max-width: variables.$breakpoint-mobile) {
        transform: translateX(- variables.$width_img_cover_slider_mobile * 2);
    }
}
  