

#light{
    background-color: #fff;
}

#dark{
    background-color: black;
}

body:has(#light) {
    background: white;
}
body:has(#dark) {
    background: black;
}
// body{
//     background-color: violet;
// }